html {
  height: 100%;
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.navbar{
    border: none;
    border-radius:0;
    background:#FCCD0E;font-weight: bold;
}
#myNavbar ul li a{
    background:#FCCD0E;
    color:#000;
}
#myNavbar ul li a:hover {
    background: #fff;
}

.table tr td {
    vertical-align: middle !important;
}
.panel-heading{
    vertical-align: middle;font-weight: bold;

}
.panel-body.tbl1{
    vertical-align: middle ;
     min-height: 80px;
    line-height:80px;
    font-size: 25px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    background:#0B0A0A;
}
