{%  extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="panel">
        <div class="panel-heading">
           Thay đổi ngôn ngữ
        </div>
        <div class="panel-body ">
            <form>
                <div class="form-group row">
                    <div class="form-group col-xs-12">

                       <select class="form-control">
                            <option selected=\'selected\' value="vi" >Vietnamse (vi)</option>
                            <option  value="en">Tiếng Anh (en)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
<script type="application/javascript">

</script>
{% endblock content %}





