{%  extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel ">
        <div class="panel-heading">
            Bảng thống kê chất lượng nước {{stations.display_name}}
             <div class="row">
                      <div class="col-sm-6">
                       <label>Tần xuất log data</label>
                      <select class="form-control">
                            <option selected=\'selected\' value="0" >1 phút</option>
                            <option  value="1">5 phút</option>
                            <option  value="2">10 phút</option>
                            <option  value="3">15 phút</option>
                            <option  value="4">30 phút</option>
                            <option  value="4">1 giờ</option>

                      </select>
                    </div>

                    <div class="col-sm-6">
                       <label>Chọn nhanh khoảng thời gian</label>
                       <select class="form-control">
                            <option selected=\'selected\' value="0" >1 ngày</option>
                            <option  value="1">1 tuần</option>
                            <option  value="2">1 tháng</option>
                      </select>
                    </div>

                    <div class="col-sm-6">
                        <label>Bắt đầu </label>
                        <input id="bd" type="datetime-local" class="form-control" style="color:#000"  required>
                    </div>
                    <div class="col-sm-6">
                        <label>Kết thúc</label>
                        <input id="kt" type="datetime-local" class="form-control" style="color:#000"  required>
                    </div>
                </div>
            </br>
                 <div class=" row">
                      <div class="col-xs-6">
                           <button class="btn btn-info"" type="submit">Xem trước</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success" type="submit">Xuất excel</button>
                    </div>
                 </div>
        </div>
        <div class="panel-body ">
            <div class="table-responsive-sm">
                <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                         {% for config in  station.stationconfig_set.all %}
                        <th style="text-align: center;">{{config.name}} ({{config.unit}})</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    {% for config in station.stationconfig_set.all %}
                    <tr>
                        {% for value in config.stationconfigvalue_set.all %}
                        <td>{{  value.value }} </br> {{  value.ngaygio_ict }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
  </div>
</div>
<script type="application/javascript">
function ngaygio(para,model) {
	var thoigian = new Date(),ngaygio;
	thoigian.setDate(thoigian.getDate() + para);
	var day = thoigian.getDate();
	var month = thoigian.getMonth() + 1 ;
	var year =thoigian.getFullYear();
    var hour = thoigian.getHours();
    var minu = thoigian.getMinutes();

    if(month < 10){
        month = "0" + month;
    }
    if(day < 10){
        day = "0" + day;
    }
    if(hour < 10){
            hour = "0" + hour;
        }
    if( minu< 10){
            minu = "0" + minu;
        }
    if(model == 1)
    	ngaygio = year+"-"+month+"-"+day+"T"+hour+":"+minu;
    else
    	ngaygio = year+"-"+month+"-"+day;
    return  ngaygio;
};
<!--console.log(ngaygio(0,0));-->

$('#bd').val(ngaygio(0,1)); $('#kt').val(ngaygio(-1,1));
$('#bd').prop('max',ngaygio(0,1));
</script>
{% endblock content %}
