{%  extends 'base.html' %}
{% block head %}

    <!--<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>-->
    <!--<script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>-->
    <!--<script type="text/javascript" src="https://code.highcharts.com/modules/solid-gauge.js"></script>-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
{% endblock head %}
{% block content %}
<style type="text/css">

</style>
<div class="row">
  {% for station in stations.stationconfig_set.all %}
  <div class="col-sm-4 ">
    <div class="panel panel-primary ">
        <div class="panel-heading">{{station.display_name}} (4.4 - 6.5) {{station.unit}} {{station.station}}</div>
        <div id="{{station.id}}" class="panel-body tbl1" style="">6.36 pH</div>
        <div>12:12 12/12/2012</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
   <div class="col-sm-12">
    <div class="panel panel-primary ">
        <div class="panel-heading" style="">Trạng thái điều khiển {{stations.display_name}}</div>
        <div class="panel-body">
            <table class="table table-hover text-center">
                 <thead>
                    <tr>
                      <th class="text-center">Tên</th>
                      <th class="text-center">Trạng thái</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="info">
                    <td>Thiết bị 1</td>
                    <td><i style="color:green" class="fa fa-circle"> Bật</i></td>
                  </tr>
                  <tr>
                    <td>Thiết bị 2</td>
                     <td><i style="color:red" class="fa fa-circle"> Tắt</i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
   <div class="col-sm-12">
    <div class="panel panel-primary ">
        <div class="panel-heading">Giám sát chỉ số điện năng {{stations.display_name}}</div>
        <div class="panel-body">
            <table class="table table-hover text-center">
                 <thead>
                    <tr>
                       <th class="text-center">STT</th>
                      <th class="text-center">Thông số</th>
                      <th class="text-center">Giá trị</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="info">
                    <td>1</td>
                    <td>Điện áp</td>
                    <td>380 VAC</td>
                  </tr>
                  <tr >
                    <td>2</td>
                    <td>Dòng điện</td>
                    <td>10 A</td>
                  </tr>
                 <tr class="info">
                    <td>3</td>
                    <td>Tổng công suất</td>
                    <td>130 kwh</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Hệ số công suất</td>
                    <td>0.87</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-primary ">
        <div class="panel-heading" >
            Bảng giá trị max - min {{stations.display_name}} </br>
            <input type="datetime-local" value="2018-06-12T19:30"
               min="2018-06-07T00:00" max="2019-06-14T00:00" style="color:#000" />
        </div>
        <div class="panel-body ">
            <table class="table table-hover text-center">
                 <thead>
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">Max</th>
                      <th class="text-center">Min</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="info">
                    <td>pH</td>
                      <td><div>8.5 pH </br>21:43:25 12/02/1995</div></td>
                    <td><div>4.5 pH </br>29:40:25 12/02/1995</div></td>
                  </tr>
                  <tr>
                    <td>Clo dư</td>
                    <td><div>0.09 pH </br>21:43:45 12/02/1995</div></td>
                    <td><div>0.02 pH </br>21:43:45 12/02/1995</div></td>
                  </tr>
                  <tr class="info">
                    <td>Độ đục</td>
                    <td><div>0.35 pH </br>21:43:45 12/02/1995</div></td>
                    <td><div>0.15 pH </br>21:43:45 12/02/1995</div></td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-primary ">
        <div class="panel-heading">Biểu đồ theo thời gian {{stations.display_name}}

                <div class="row">
                    <div class="col-sm-6">
                        <label>Bắt đầu </label>
                        <input id="" type="date" style="color:#000"  required>
                    </div>
                    <div class="col-sm-6">
                        <label>Kết thúc</label>
                        <input id="" type="date" style="color:#000"  required>
                    </div>
                </div>

        </div>
        <div class="panel-body">
            <div id="container" style="height: 400px; min-width: 310px"></div>
        </div>
    </div>
  </div>
</div>
<script type="application/javascript">

var seriesOptions = [],
    seriesCounter = 0,
    names = ['MSFT', 'AAPL', 'GOOG'];

/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
function createChart() {

    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}

$.each(names, function (i, name) {

    $.getJSON('https://www.highcharts.com/samples/data/' + name.toLowerCase() + '-c.json',    function (data) {

        seriesOptions[i] = {
            name: name,
            data: data
        };

        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        seriesCounter += 1;

        if (seriesCounter === names.length) {
            createChart();
        }
    });
});

</script>
{% endblock content %}
